.weather-container {
  text-align: center; 
  margin-top: 100px; 
}

.city-name {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px; 
}

.text {
  font-size: 20px;
  margin: 0;
}

.weather-icon img {
  width: 150px; 
  height: auto;
  margin-top: 20px; 
}